In [1]:
x = 8 
y = 3.2
z = 8j + 18
a = "Hello World"
b = True
c = 23 < 22
l = [1, 2, 3, 4]
d = {"Name": "Jake",
     "Age": 27,
     "Adress": "Downtown"}
t = ("Machine Learning", "Data Science")
s = {"Python", "Machine Learning", "Data Science"}

In [3]:
# Her bir degiskenin tipine bak
type(x), type(y), type(z), type(a), type(b), type(c), type(l), type(d), type(t), type(s)

(int, float, complex, str, bool, bool, list, dict, tuple, set)

In [4]:
text = "The goal is to turn data into information, and information into insight."

In [25]:
# Verilen string ifadenin tüm harflerini büyük harfe çeviriniz. Virgül ve nokta yerine space koyunuz, kelime kelime ayırınız.
a = text.upper().replace(",", " ").replace(".", " ").split()
a

['THE',
 'GOAL',
 'IS',
 'TO',
 'TURN',
 'DATA',
 'INTO',
 'INFORMATION',
 'AND',
 'INFORMATION',
 'INTO',
 'INSIGHT']

In [26]:
lst = ["D","A","T","A","S","C","I","E","N","C","E"]
len(lst)

11

In [28]:
lst[0], lst[10]

('D', 'E')

In [30]:
data = lst[:4]
data

['D', 'A', 'T', 'A']

In [32]:
lst.pop(8)
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E']

In [34]:
lst.append("M")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'C', 'E', 'M', 'M']

In [36]:
lst.insert(8, "N")
lst

['D', 'A', 'T', 'A', 'S', 'C', 'I', 'E', 'N', 'N', 'C', 'E', 'M', 'M']

In [37]:
dict = {'Christian': ["America", 18],
        'Daisy': ["England", 12],
        'Antonio': ["Spain", 22],
        'Dante': ["Italy", 25]}
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 12],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [38]:
dict.keys()

dict_keys(['Christian', 'Daisy', 'Antonio', 'Dante'])

In [39]:
dict.values()

dict_values([['America', 18], ['England', 12], ['Spain', 22], ['Italy', 25]])

In [40]:
dict["Daisy"][1] = 13
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25]}

In [41]:
dict.update({"Ahmet": ["Turkey", 24]})
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Antonio': ['Spain', 22],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [42]:
del dict['Antonio']
dict

{'Christian': ['America', 18],
 'Daisy': ['England', 13],
 'Dante': ['Italy', 25],
 'Ahmet': ['Turkey', 24]}

In [43]:
l = [2,13,18,93,22]
def even_odd_func(l):
    even_list=[]
    odd_list=[]
    for i in l:
        if i % 2 == 0:
            even_list.append(i)
        else:
            odd_list.append(i)
            
    return even_list, odd_list
even_list, odd_list = even_odd_func(l)
even_list, odd_list

([2, 18, 22], [13, 93])

In [49]:
ogrenciler = ["Ali","Veli","Ayşe","Talat","Zeynep","Ece"]
for index, ogrenci in enumerate(ogrenciler, 1):
    if index <= 3:
        print(f"Mühendislik Fakültesi {index}. öğrenci: {ogrenci}")
    else:
        print(f"Tıp Fakültesi {index-3}. öğrenci: {ogrenci}")

Mühendislik Fakültesi 1. öğrenci: Ali
Mühendislik Fakültesi 2. öğrenci: Veli
Mühendislik Fakültesi 3. öğrenci: Ayşe
Tıp Fakültesi 1. öğrenci: Talat
Tıp Fakültesi 2. öğrenci: Zeynep
Tıp Fakültesi 3. öğrenci: Ece

In [51]:
ders_kodu = ["CMP1005", "PSY1001", "HUK1005", "SEN2204"]
kredi = [3, 4, 2, 4]
kontenjan = [30, 75, 150, 25]
zipli_liste=list(zip(ders_kodu, kredi, kontenjan))

In [53]:
for ders_kod, kredi, kontenjan in zipli_liste:
    print(f"Kredisi {kredi} olan {ders_kod} kodlu dersin kontenjanı {kontenjan} kişidir.")

Kredisi 3 olan CMP1005 kodlu dersin kontenjanı 30 kişidir.
Kredisi 4 olan PSY1001 kodlu dersin kontenjanı 75 kişidir.
Kredisi 2 olan HUK1005 kodlu dersin kontenjanı 150 kişidir.
Kredisi 4 olan SEN2204 kodlu dersin kontenjanı 25 kişidir.

In [54]:
kume1 = set(["data", "python"])
kume2 = set(["data", "function", "qcut", "lambda", "python", "miuul"])
def set_func(set1, set2):
    if set1.issuperset(set2) == True:
        return set1.intersection(set2)
    else:
        return set2.difference(set1)
print(set_func(kume1, kume2))

{'qcut', 'function', 'lambda', 'miuul'}